@charset "utf-8";
		
 body 
{
  background:#FF6347;		  
}

 header
{ 	      		  
  background: red;
  float:left; 	
  font-size:300%; 
  font-family: arial;
  width : 100%;		  
}
	
 div
{
  margin: 1%;
  width: 95%;
  height: 40%;		   
  float:left;
  border:1px black solid;
}
	
 div  img
{
  width: 40%;
  height: 90%;
  margin: 1%;
  float: left;
}
	
 div  p
{
  float: left;
  font-family: verdana;
  padding: 0%;
		   
}
		 
 nav  
{ 
  position: absolute;
  right: 2%;	         		  
} 

 nav  ul
{ 
  list-style: none;       		  
}
		
 nav  li
{ 
  display: inline-block;
  background-color: #dddd;
  padding: 5px;
  margin: 0,5%;
  transition:background-color 1s;		
}     
		
 li a
{ 
 text-decoration: none;
 color: black;		  
}

 nav a:hover
{ 
  color: #ffffff;	  
}
		
 section
{
  border: solid 1px black;
  margin: 3%;		  
  float:left;
 }

 article
{
  margin: 3%; 
  float:left;		   
}
		 
 footer
{		   	 
  background: red;
  float:left; 	          
  font-family: arial;
  width : 100%;			   
}